Data/Training_data
Data/Training_data
Lambda_function_streaming_data/lambda_layers
Streaming_data
Training_Codes/data/Training_data/traffic_table.csv
Training_Codes/data/Database_backup/truck-eta-mysql.sql
Data/Database_backup